@import "bootstrap/dist/css/bootstrap.min.css";

$dark-grey: rgb(85, 85, 85);
$my-blue: rgb(50, 50, 255);
$dark: #1a1e23;

a {
    color: $dark-grey;
}

.navbar-flat {
    background-color: $my-blue;
    color: white;
}

.progress-bar-flat {
background-color: $my-blue;
}

.progressbar-flat {
    background-color: $my-blue;
    }

.progress-flat {
    background-color: $my-blue;
    }

.dgrey {
    color: $dark-grey
}

.right-text {
    text-align: right;
}