@import "../custom.scss";

.center {
    text-align: center;
    }

.btop {
    border-top: 15px solid #ffff0000;
}

.h3-hobbies {
    margin-bottom: 0%;
}

.imgContainer {
    margin: 30px
}

.interests {
    margin-bottom: 0%;
    font-weight: 500;
    color: $dark-grey;
}

@media screen and (max-width: 600px) {
    .imgContainer {
        margin: 10px
    }
  }

@media screen and (max-width: 300px) {
    .imgContainer {
        margin: 0px
    }
}